.header span {
  font-size: 18px;
}

input, .fa-trash-o {
  color: #272b30;
  font-weight: normal;
}

.header, td:not(:last-child) {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgba(0,0,0,0.5);
}
